:root {
    --Dorado: #CFAC38;
    --Marrón: #BF5D20;
    --MoradoOscuro: #61346B;
    --MoradoClaro: #BF69C2;
    --Lavanda: #CCACDB;
    --Blanco: #FFFFFF;
}

.ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: var(--MoradoOscuro);
    border: 1px solid var(--MoradoClaro);
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Tamaño fijo para asegurar que todas las tarjetas sean iguales */
    width: 392px;
    min-height: 650px; /* Ajusta este valor según el tamaño total que necesites */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
}

.ProductCard_header, .ProductCard_button {
    width: 100%; 
    align-items: center;
    background-color: var(--Lavanda);
    color: var(--Blanco);
}

.ProductCard_body {
    text-align: center;
    font-weight: normal;
    font-family: 'Italianno', serif;
    font-size: 24px;
    background-color: var(--MoradoOscuro);
    color: var(--Blanco);
    flex-grow: 1; /* Permite que el contenido crezca o se reduzca según el espacio */
}

.ProductCard_name {
    font-weight: normal;
    font-family: 'Italiana', serif;
    font-size: 40px;
    background-color: var(--MoradoOscuro);
    color: var(--Blanco);
    min-height: 80px; /* Asegura un espacio mínimo para el nombre */
}

.ProductCard_price {
    font-weight: normal;
    font-family: 'Italiana', serif;
    font-size: 60px;
    background-color: var(--MoradoOscuro);
    color: var(--Blanco);
}

.ProductCard_img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 240px;
    height: 400px; 
    flex-shrink: 0; /* Evita que la imagen se reduzca si hay poco espacio */
}

.ProductCard_button {
    font-weight: normal;
    font-family: 'Italianno', serif;
    color: var(--Blanco);
    font-size: 24px;
    background-color: var(--Lavanda);
    border: 1px solid var(--Lavanda);
    width: 100%;
    padding: 12px; /* Aumenta el padding si quieres más altura para el botón */
    text-align: center;
}

.ProductCard_button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--MoradoClaro);
    color: var(--MoradoOscuro);
    border: 1px solid var(--MoradoClaro);
}

.ProductCardContainer {
    padding: 20px;
    text-align: center;
}

.Filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.Filters select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.ProductCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.titleProducts {
    font-weight: normal;
    font-family: 'Italianno', serif;
    color: var(--Blanco);
    font-size: 80px;
    background-color: var(--MoradoOscuro);
    width: 100%;
    padding: 12px; /* Aumenta el padding si quieres más altura para el botón */
    text-align: center;
}

.Filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.Filters select {
    padding: 8px 12px;
    font-size: 1.25rem;
    border: 1px solid var(--MoradoClaro);
    background-color: var(--Marrón);
    color: var(--Blanco);
    font-family: 'Italiana', serif;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Filters select:hover {
    background-color: var(--MoradoClaro);
    color: var(--MoradoOscuro);
}

.Filters option {
    background-color: var(--MoradoOscuro);
    color: var(--Blanco);
    padding: 8px;
    font-family: 'Italiana', serif;
}

.Filters select:focus {
    outline: none;
    border-color: var(--Dorado);
    background-color: var(--Lavanda);
    color: var(--MoradoOscuro);
}


