.navbar {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFFFFF;
  }
  
  .navlinks {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navlinks li {
    color: #61346B;
    font-family: 'Italianna', serif;
    font-size: 18px;
  }
  
  .special {
    border: 2px solid #61346B;
    color: #FFFFFF;
    background-color: #61346B;
    padding: 8px 16px;
    border-radius: 5px;
  }