:root {
  --Dorado: #CFAC38;
  --Marrón: #BF5D20;
  --MoradoOscuro: #61346B;
  --MoradoClaro: #BF69C2;
  --Lavanda: #CCACDB;
  --Blanco: #FFFFFF;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.ProductList_card {
  width: 20%;
  max-width: 20%;
}

.App {
  color: var(--MoradoOscuro);
  background-color: var(--white);
}
.AppTitle {
  text-align: center;
  color: var(--white);
  background-color: var(--MoradoOscuro  );
}